doctype
//- Pug page for the bookings_table(the schedule). Used throughout with 'include'(Pug feature to include sub templates) 
//-Created 8 Sep 2017

html
  head
    title IDEAS Hub Booking System
    link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet", href="/css/style.css")
  .container-fluid
    h3#schedule.text-center Schedule: 
      span#startOfWeek 
      span#endOfWeek 
    
    div.dropdown
      button.btn.btn-info.dropdown-toggle(type = "button" data-toggle = "dropdown") 
        span.caret 
      ul.dropdown-menu
        each space in spaces
          li
            a(href = "#")=space.name  
    div#buttons
      button(type = "button")#next-week.btn See next week
      button(type = "button")#prev-week.btn.btn-default See previous week
    
    table#bookings-table.table.table-bordered.table-responsive.table-striped(style = "border: 2px solid #6F7C7D;font-size:150%;")
      
    div#booking-modal.modal.fade(role = "dialog")
      div.modal-dialog
        div.modal-header
          button(type = "button" data-dismiss="modal").close &times;
          h4.modal-title How long before the booking do you want to be reminded?
        div.modal-body 
          div.radio
            input(type = "radio" name = "reminder" value = "none") 
            label None
          div.radio
            input(type = "radio" name = "reminder" value = "4h") 
            label 4 hours
          div.radio
            input(type = "radio" name = "reminder" value = "12h")
            label 12 hours
          div.radio
            input(type = "radio" name = "reminder" value = "1d")
            label 1 day
          div.radio
            input(type = "radio" name = "reminder" value = "1w")
            label 1 week
        div.modal-footer 
          button(type = "button")#submitBtn.btn.btn-default.btn-info Submit
          button(type = "button" data-dismiss = "modal").btn.btn-default.btn-danger Close
  script(src = "/bower_components/bootstrap/dist/js/bootstrap.js")
  script(src = "/bower_components/jquery/dist/jquery.js")
  script(src= "https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.js")
  script(src = "/scripts/Time.js")
  script(src = "/scripts/populate_bookings.js")


    
          
