//- Sub template for the header(Welcome and Log out)
//-Created 23 Oct 2017
div.row
  h3.col-lg-4.col-md-2.col-sm-2.col-xs-2 Welcome, #{firstName}!
  a.col-lg-2.col-md-2.col-sm-2.col-xs-2(href = "/logout" style = "float:right;font-size:120%;").btn Log out
