//- The navbar for user pages. 
//-Created 23 Oct 2017
nav.navbar.navbar-default
  div.container-fluid
    ul.nav.navbar-nav
      li.active
        a(href = "/account_page") Make bookings 
      li
        a(href = "/your_bookings") Your bookings
    
